.ade-box{
	padding-left: 40px;
	padding-right: 40px;
	height: 556px;
	width: 825px;
}
.ade-box header{
	font-size: 24px;
	color: #0d96da;
	font-weight: bolder;
	height: 86px;
	line-height: 86px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 29px;
}
.ade-box div {
	overflow: hidden;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
}
.ade-box div input {
	width: 311px;
	height: 42px;
	outline: none;
	margin-left: 20px;
}

.ade-box div p:nth-child(1){
	float: left;
}
.ade-box div p:first-child{
	float: left;
}




.ade-box div p:nth-child(2){
	float: right;
}
.ade-box div p:first-child+p{
	float: right;
}



.ade-num{
	width: 60px;
	height: 30px;
	position: absolute;
	top: 16px;
	right: 5px;
}
.ade-select select{
	width: 244px;
	height: 30px;
	margin-left: 20px;
}
.ade-ope{
	width: 500px;
	margin:65px auto 0 auto ;
	margin-top: 65px;
}
.ade-ope a{
	width: 210px;
	height: 64px;
	font-size: 19px;
	font-weight: bolder;
	line-height: 64px;
	text-align: center;
	display: inline-block;
	}
.ade-submit{
	background: #fe8d01;
	color: #FFFFFF;
	margin-left: 45px;
	
}
.ade-reset{
	background: #EEEEEE;
	color: #000000;
	margin-left: 20px;
}

