.clt-box{
	padding-left: 40px;
	padding-right: 40px;
	width: 820px;
}
.clt-box header{
	font-size: 24px;
	color: #0d96da;
	font-weight: bolder;
	height: 86px;
	line-height: 86px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 29px;
}
.clt-box div {
	overflow: hidden;
	height: 60px;
	line-height: 60px;
	font-size: 15px;
}
.clt-box div input {
	width: 281px;
	height: 40px;
	outline: none;
	margin-left: 20px;
	line-height: 40px;
}
.clt-box div p:nth-child(1){
	float: left;
}
.clt-box div p:first-child{
	float: left;
}


.clt-box div p:nth-child(2){
	float: right;
}
.clt-box div p:first-child+p{
	float: right;
}



.clt-box select{
	width: 280px;
	height: 30px;
	margin-left: 20px;
}


.clt-ope{
	width: 500px;
	margin:65px auto 0 auto ;
	margin-top: 65px;
}
.clt-ope a{
	width: 210px;
	height: 64px;
	font-size: 19px;
	font-weight: bolder;
	line-height: 64px;
	text-align: center;
	display: inline-block;
	}
.clt-submit{
	background: #fe8d01;
	color: #FFFFFF;
	margin-left: 45px;
	
}
.clt-reset{
	background: #EEEEEE;
	color: #000000;
	margin-left: 20px;
}
