.pass-box{
	width: 520px;
	height: 514px;
	padding-left: 40px;
	padding-right: 40px;
}
.pass-box div:first-child{
	height: 85px;
	line-height: 85px;
	color: #4eb4e5;
	font-size: 25px;
	font-weight: bolder;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 33px;
	
}
.pass-box p{
	text-align: right;
	line-height: 66px;
	height: 66px;
	position: relative;
	margin-bottom: 20px;
	
}
.pass-box span{
	font-size: 14px;
	position: a;
	
}
.pass-box input{
	display: inline-block;
	width: 440px;
	height: 42px;
	outline: none;	
	margin-left: 15px;
	text-indent: 18px;
}
.pass-box a{
	width: 210px;
	height: 64px;
	font-size: 19px;
	font-weight: bolder;
	line-height: 64px;
	text-align: center;
	display: inline-block;
	}
 .pass-box .pass-submit{
	background: #fe8d01;
	color: #FFFFFF;
	margin-left: 45px;
	width: 210px;
	height: 64px;
	font-size: 19px;
	font-weight: bolder;
	line-height: 64px;
	text-align: center;
	display: inline-block;
	
}
 .pass-box .pass-reset{
	background: #EEEEEE;
	color: #000000;
	margin-left: 20px;
	width: 210px;
	height: 64px;
	font-size: 19px;
	font-weight: bolder;
	line-height: 64px;
	text-align: center;
	display: inline-block;
}
